<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="MinisterConnectionString" connectionString="Data Source=HOME\SQLEXPRESS;Initial Catalog=Minister;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />

      <trace enabled="true"/>

  <!--    <identity impersonate="true"/>
   -->   
      <httpRuntime targetFramework="4.5" />

      <authentication mode="Forms">
        <forms defaultUrl="~/Admin/Home.aspx" loginUrl="~/index.aspx" timeout="20" />            

      </authentication>
    
    </system.web>
  
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    </appSettings>

  </configuration>
